<DIV class="form" id="payment_form">
  <%= form_for @payment, local: true do |form| %>
    <% if @payment.errors.any? %>
      <DIV id="error_explanation">
	<H2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</H2>
	<UL>
	  <% @payment.errors.full_messages.each do |msg| %>
	    <LI><%= mgs %></LI>
	  <% end %>
	</UL>
      </DIV>
    <% end %>
    <P>
      <%= form.label :date %>
      <%= form.date_field :date %>
    </P>
    <P>
      <%= form.label :vendor %>
      <%= form.select :vendor_id, Vendor.all.collect { |v| [v.name, v.id] } %>
    </P>
    <P>
      <%= form.label :value %>
      <%= form.number_field :value %>
    </P>
    <P>
      <%= form.label :product %>
      <%= form.select :product_id, options_for_select(Product.pluck(:name, :id), @payment.product_id) %>
    </P>
    <P>
      <%= form.submit %>
    </P>
  <% end %>
</DIV>
