<DIV class="index" id="payment_index">
  <H1>List Payments</H1>
  <TABLE>
    <TR>
      <TH>Date</TH>
      <TH>Vendor</TH>
      <TH>Value</TH>
      <TH colspan="2">
        Product<BR>
        <%= select_tag :product, options_for_select(Product.pluck(:name, :id), @product), include_blank: "All" %>
      </TH>
    </TR>
    <% @payments.each do |payment| %>
      <TR>
	<TD><%= payment.date %></TD>
	<TD><%= payment.vendor.name %></TD>
	<TD><%= payment.value %></TD>
	<TD><%= link_to 'Show', payment_path(payment) %></TD>
	<TD><%= link_to 'Edit', edit_payment_path(payment) %></TD>
      </TR>
    <% end %>
  </TABLE>
</DIV>

<%= javascript_include_tag "payments" %>
