<SCRIPT>products_count = 0</SCRIPT>
<DIV class="form" id="sale_form">
  <%= form_with model: @sale, local: true do |form| %>
    <% if @sale.errors.any? %>
      <DIV class="error" id="error_explanation">
	<H2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</H2>
	<UL>
	  <% @sale.errors.full_messages.each do |msg| %>
	    <LI><%= msg %></LI>
	  <% end %>
	</UL>
      </DIV>
    <% end %>
    <TABLE border=1>
      <TR>
	<TH><%= form.label "Date" %></TH>
	<TD><%= form.date_field :date, :value => @sale.date!=nil ? @sale.date : Date.today %></TD>
      </TR>
      <TR>
        <TH><%= form.label "Total Value" %></TH>
	<TD>
          <%= number_field_tag :total_v, @sale.total_value, { disabled: true } %>
          <%= form.hidden_field :total_value, :value => @sale.total_value %>
	</TD>
      </TR>
      <TR>
    	<TH><%= form.label :vendor %></TH>
      	<TD><%= form.select :vendor_id, options_for_select(Vendor.all.collect {|v| [v.name, v.id]}, :selected => @sale.vendor_id!=nil ? @sale.vendor_id : 1), {}, {:onchange => "updateVendorsProfit();"} %></TD>
      </TR>
      <TR>
        <TH colspan=3>Products</TH>
        <% if @sale.id %>
          <TH>Pay</TH>
        <% end %>
      </TR>
      <% @i = 0 %>
      <% @products = Product.order(name: :asc).map { |p| [p.name, p.price, p.id] } %>
      <% @sale.sale_products.each do |sp| %>
        <%= render partial: "product", locals: { f: form, product: sp, i: @i, products: @products } %>
        <% @i += 1 %>
      <% end %>
      <TR>
        <TD>
          <SPAN id="add">+</SPAN>
        </TD>
        <TD>
          <SPAN id="del">-</SPAN>
        </TD>
      </TR>
      <TR>
	<TD colspan=2><CENTER><%= form.submit %></CENTER></TD>
      </TR>
    </TABLE>
  <% end %>
</DIV>
  <SCRIPT>
  cloneCount = <%= @i %>
  productsPrices = <%= @products.sort_by{|o| o[2]}.map{|o| o[1]} %>;
</SCRIPT>
<%= javascript_include_tag "sales" %>
