<DIV class="form" id="sale_form">
  <%= form_with model: @sale, local: true do |form| %>
    <% if @sale.errors.any? %>
      <DIV class="error" id="error_explanation">
	<H2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</H2>
	<UL>
	  <% @sale.errors.full_messages.each do |msg| %>
	    <LI><%= msg %></LI>
	  <% end %>
	</UL>
      </DIV>
    <% end %>
    <TABLE border=1>
      <TR>
	<TH><%= form.label "Date" %></TH>
	<TD><%= form.date_field :date, :value => @sale.date!=nil ? @sale.date : Date.today %></TD>
      </TR>
      <TR>
        <TH><%= form.label "Total Value" %></TH>
	<TD>
          <%= number_field_tag :total, @sale.total_value, { disabled: true } %>
          <%= form.hidden_field :total_value, :value => @sale.total_value %>
	</TD>
      </TR>
      <TR>
    	<TH><%= form.label :vendor %></TH>
      	<TD><%= form.select :vendor_id, options_for_select(Vendor.all.collect {|v| [v.name, v.id]}, :selected => @sale.vendor_id!=nil ? @sale.vendor_id : 1), {}, {:onchange => "updateVendorsProfit();"} %></TD>
      </TR>
      <% @sale.sale_products.each do |sp| %>
        <%= render partial: "product", locals: { f: form, product: sp } %>
      <% end %>
      <TR>
	<TD colspan=2><CENTER><%= form.submit %></CENTER></TD>
      </TR>
    </TABLE>
  <% end %>
</DIV>
<SCRIPT>
	productsPrices = <%= Product.order(:id).collect{|p| p.price} %>;
	vendorssProfits = <%= Vendor.order(:id).collect{|v| v.profit} %>
	updateTotal();
	function updateTotal(){
		var productID = parseInt($("#sale_product_id").val());
		var ammount = parseInt($("#sale_ammount").val());
		var discount = parseFloat($("#sale_discount").val());
		var total = productsPrices[productID-1]*ammount*(100-discount)/100;
		total = Math.round(total);
		$("#sale_total").val(total);
		$("#sale_total_value").val(total);
		updateVendorsProfit();
	}
	function updateVendorsProfit(){
		var total = parseInt($("#sale_total").val());
		var vendorID = parseInt($("#sale_vendor_id").val());
		$("#sale_vendors_profit").val(total*vendorssProfits[vendorID-1]/100);
	}
</SCRIPT>
