<DIV class="new" id="sale_new">
  <H1>Listing Sales</H1>
  <TABLE>
    <TR>
      <TH>Date</TH>
      <TH>Total</TH>
      <TH>Vendor</TH>
      <TH colspan="2"></TH>
    </TR>
    <% @sales.order(:date).each do |sale| %>
      <TR>
	<TD><%= sale.date %></TD>
        <TD><%= sale.total_value %></TD>
        <TD><%= sale.vendor.name %></TD>
        <TD><%= link_to 'Show', sale_path(sale) %></TD>
	<TD><%= link_to 'Edit', edit_sale_path(sale) %></TD>
      </TR>
    <% end %>
  </TABLE>
</DIV>
